.accordion-item {
    border: none!important;
    
    background-color: rgb(255, 255, 255);
  
    
  }
  .accordion-button{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
  }
  .accoricon__1{
    color: #fc5404;
  }
  
  
 
  .accordion-button:not(.collapsed) {
    color: #fc5404  !important;
    
  }
  .accricon__2{
    color: #fc5404;
    font-size: .7rem;
    margin-left: 8px;
  }

  .accricon__2:hover{
    color: white!important;
    font-size: .7rem;
    background-color: #fd7e14;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    transition: .3s all ease;
}
  
  
  .accorpara__4{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.6;
  }
  .accoricon__1 {
    color: #fc5404  ;
    font-weight: 500;
  }
 .accoricon__1:hover{
  color: #fc5404 ;
 }