.boldser__1{
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.6;
}

.hr__1{
    height: 2px!important;
    color: black!important;
    width: 11.2rem;
    line-height: 1.2rem;
  }
  .service__1{
    padding-top: 7rem;
  }
  .bold__1{
      font-size: 1rem;
      box-sizing: border-box;
  }