$paragra-color:#fc5404;


.News__1{
    margin-top: 8rem;
    h5:hover{
        color: $paragra-color;
    }
}
.Admin__1{
    color: $paragra-color;
    text-decoration: none;
}
.P__2{
    color: #ccc;
    font-size: 0.9rem;
}