*{
    margin: 0;
    padding: 0;
}
.navbar{
    position: absolute;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    .nav-link{
        color:rgba(255, 255, 255, 0.7)!important;
        
        padding: 10px 15px;
        display: inline-block;
        text-decoration: none !important;
        
    }
    .nav-link:hover{
        color: white!important;
    }
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px; 
    
}

.offcanvas-body{
    .nav-link{
        color: black!important;
        font-weight: 500;
    }
    .nav-link:hover{
        color: chocolate!important;
    }
}
.Navspace__1 {
    font-size: .92rem;
    padding-left: 1.5rem!important;
    
}
.Navsicon__2{
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}
.droph__1 {
    padding: 1.5rem 3rem 1.5rem 0.5rem;
    margin-left: 9rem;
    margin-top: -2rem;
    
    line-height: 5rem;


    .dropdown-item{
        font-size: 14px;
        line-height: 1rem;
    
        
    }
    .dropdown-item:hover{
        color: #fd7e14;
        background-color: white;

    }
    
}
.droph__2{
    padding: 1rem 1rem 1rem 0rem ;

    .dropdown-item{
       
        line-height: 1rem;
        font-size: 14px;
    
        
    }
    .dropdown-item:hover{
        color: #fd7e14;
        background-color: white;

    }
    .dropword__1{
        padding-right: 2rem;
        color: #000!important;
        
    }
    .dropword__1:hover{
        background-color: white;
        color: #fd7e14!important;
    }
    
}
.dropdown-toggle::after {
    display: none;
}

.subdrop__1{
    line-height: 0.3rem;
    margin-right: -2rem;
    .dropdown-toggle::after {
        display: none;
    }
    
    
}

.anglebtn__1{
   margin-left: 6px;
    content: "\e313";
    font-size: 12px;
    top: 50%;
    right: 0;
    
   
    font-family: 'icomoon';
}
.anglebtn__2{
    
    content: "\e313";
    font-size: 12px;
    top: 50%;
    right: 0;
    color: gray;
    margin-left: 1rem;
 
    font-family: 'icomoon';
}
.anglebtn__2:hover{
    color:#fd7e14;
}
.dropword__1:hover+.dropword__1{
    color:#fd7e14;
}


@media only screen and (min-width: 992px) {
    .canvbtn__1{
        visibility: hidden;
    }
}
